.card {
  width: 200px;
  height: 400px;
  padding:5px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: overflow;
}

.cardContent {
  padding: 10px;
}

.cardTitle {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.cardYear {
  margin: 0;
  color: #888;
}
.cardType{
  margin: 0;
  font-family: sans-serif;
}

