.navbar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navLinks a {
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

.logo {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: bold;
}

.logo span {
  color: #7d1006;

}

.menu {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.active{
  background-color: #7d1006;
  font-weight: bold;
  border-radius: 5px;
}

.menu li:hover {
  background-color: #7d1006;
}

.menu li {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.5rem 1rem;
  list-style: none;
  transition: 150ms ease;
  border-radius: 5px;
}

.menu:last-child {
  margin-right: 1rem;
}
